[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_non_forked/YCM-Generator"]
	path = sources_non_forked/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
[submodule "sources_non_forked/vim-polyglot"]
	path = sources_non_forked/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "sources_non_forked/lightline.vim"]
	path = sources_non_forked/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "sources_non_forked/vim-multiple-cursors"]
	path = sources_non_forked/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "sources_non_forked/code-stats-vim"]
	path = sources_non_forked/code-stats-vim
	url = https://gitlab.com/code-stats/code-stats-vim
[submodule "sources_non_forked/stellarized"]
	path = sources_non_forked/stellarized
	url = https://github.com/nightsense/stellarized
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "sources_non_forked/onedark.vim"]
	path = sources_non_forked/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "sources_non_forked/vim-better-whitespace"]
	path = sources_non_forked/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "sources_non_forked/vim-commentary"]
	path = sources_non_forked/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "sources_non_forked/vim-markdown-preview"]
	path = sources_non_forked/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview
[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "sources_non_forked/detectindent"]
	path = sources_non_forked/detectindent
	url = https://github.com/ciaranm/detectindent
